* {
    padding: 0px;
    margin: 0px;
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    list-style: none;
    color: #000;
    text-decoration: none;
}

.pipi {
    animation: aparecer linear both;
    view-timeline-name: --mos;
    animation-timeline: --mos;
    animation-range: cover 0.1% contain 10%;
}

@keyframes aparecer {
    0% {
        opacity: 0%;
        transform: translateY(800px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}



body {
    background: linear-gradient(30deg, #00c3ff, #000000);
    background-repeat: no-repeat;
}

header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    grid-template-areas: "a b";
    margin: 20px;
    gap: 50%;

}

nav {
    grid-area: a;
}

nav ul {
    background-color: #ffffffd2;
    border-radius: 8vh;
    overflow: hidden;
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 10px;
    transition: 1s;
    box-shadow: 0px 0px 20px #00c3ff;


}

nav ul:hover {
    width: 200px;
    height: 260px;
}

.imagen {
    justify-content: center;
    display: flex;
}

.imagen img {
    width: 40px;
    border-radius: 8vh;

}



nav a {
    display: flex;
    align-items: center;
    transition: .6s;
    padding: 10px;
    gap: 10px;
    margin: 10px;
}

nav a:hover {
    background-color: #00c3ff;
    border-radius: 8vh;
    color: black;
    box-shadow: 0px 0px 20px #000;
    color: white;
    justify-content: center;
}

nav li img {
    width: 40px;
}

.ppi {
    grid-area: b;

}

.ppi h1 {
    background-color: #ffffff;
    border-radius: 4vh;
    box-shadow: 0px 0px 20px #00c3ff;
    letter-spacing: 4px;
    text-align: center;
    font-family: "Bevan", serif;
}

.titulo__secundario__index {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.titulo__secundario__index img {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 6vh;
    width: 680px;
    box-shadow: 0px 0px 20px #00c3ff;
    transition: 1s;
}

.titulo__secundario__index img:hover {
    width: 700px;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }



    25% {
        margin-left: -78%
    }



    50% {
        margin-left: -160%
    }



    75% {
        margin-left: -238%
    }

    100% {
        margin-left: -0%
    }
}

.servicios__pipi {
    display: flex;
    align-items: center;
    justify-content: start;
    animation: slide 16s infinite;
    overflow: hidden;


}

.servicios__index {
    margin-top: 100px;
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mecanica {
    display: flex;
    margin: 200px;

    align-items: end;
    bottom: 100px;
    justify-content: center;
    position: relative;
}

.servicios__index p {
    font-size: 20px;
    position: absolute;
    background-color: #ffffffdd;
    padding: 10px;
    border-radius: 4vh;
}

.servicios__index img {
    width: 600px;
    margin-top: 10px;
}

@media (max-width:1000px) {
    header {
        gap: 10%;
    }

    nav ul {
        width: 40px;
        border-radius: 2vh;
    }

    nav ul:hover {
        margin-right: 200px;
    }

    .ppi h1 {
        font-size: 28px;
        font-weight: 1;
        padding: 10px;
    }

    .titulo__secundario__index img {
        width: 300px;
    }

    .titulo__secundario__index img:hover {
        width: 340px;
    }

    .servicios__index {
        gap: 30px;
    }

    .servicios__index img {
        width: 200px;
    }

    @keyframes slide {
        0% {
            margin-left: 0;
        }



        25% {
            margin-left: -100%
        }



        50% {
            margin-left: -190%
        }



        75% {
            margin-left: -280%
        }

        100% {
            margin-left: -0%
        }
    }

    .servicios__index {
        margin-left: 80px;
        margin-top: 200px;
    }

    .mecanica {
        margin: 60px;
    }

    .servicios__index p {
        font-size: 18px;
        text-wrap: nowrap;
        padding: 6px;
    }

}